Engine/build/
*.o
*.out
*.log
*.tmp
.DS_Store
build/

*.exe
*.dll
*.so
*.dylib
.vscode/
.idea/
cmake-build-*/
*.user
*.swp
*.elf
*.pdb
*.ilk
*.idb
*.class
*.jar
*.war
*.iml
*.class
*.ipr
*.iws
*.suo
*.ncb
*.sdf
*.opensdf
*.cache
*.db
*.opendb
*.VC.db
*.tlog
*.lastbuildstate
*.ipch
*.pch
*.mod
*.pch
*.sbr
*.ini
*.userprefs
